<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBrsWxsHRUDBPBS20VyrOz403__8E96FQ</string>
	<key>GCM_SENDER_ID</key>
	<string>959361487783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp2</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-chat-c1eb0</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-chat-c1eb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959361487783:ios:e242527c3a461298cadc82</string>
</dict>
</plist>